body {
    display grid;
    grid-template-areas:
      "header"
      "main"
      "footer"
    grid-template-columns: 300px 1fr 300px; /* left, main, right */
    grid-template-rows: auto 1fr auto;
    height: 120vh;
    margin: 0;
    font-family: Helvetica;
}
header {
    grid-area: header;
    background: #644117;
    color: black;
    text-align: center;
    padding: 2.5rem;
}
main { 
    grid-area: main;
    padding: 4rem;
    backround: #FAFAFA;
    color: black;
    text-align: center;
}
footer {
    grid-area: footer;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #644117;
    color: black;
    text-align: center;
}
