body {
    display grid;
    grid-template-areas:
      "header"
      "main"
    grid-template-columns: 300px 1fr 300px; /* left, main, right */
    grid-template-rows: auto 1fr auto;
    height: 120vh;
    margin: 0;
    font-family: Helvetica;
}
header {
    grid-area: header;
    background: #644117;
    color: black;
    text-align: left;
    padding: 30px;
}
main { 
    grid-area: main;
    padding: 45px;
    backround: #FAFAFA;
    color: black;
    text-align: left;
}
footer {
    background: #644117;
    color: orange;
    text-align: right;
    padding: 500px;
    margin-top: 40px;
}
