/* Entire page layout */
.grid-container {
  display: grid;
  grid-template-areas: 
    "header header header"
    "left main right"
    "footer footer footer";
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* Header */
header {
  grid-area: header;
  background: #644117;
  color: white;
  text-align: center;
  padding: 2rem;
}

/* Left sidebar */
.left-sidebar {
  grid-area: left;
  background-color: #ddd;
  padding: 1rem;
}

/* Main content */
main {
  grid-area: main;
  background: #fafafa;
  padding: 2rem;
  color: black;
}

/* Right sidebar */
.right-sidebar {
  grid-area: right;
  background-color: #ddd;
  padding: 1rem;
}

.coin-image {
  width: 75px;     
  height: auto;     
  display: block;
  margin: 20px auto; 
}

/* Footer */
footer {
  grid-area: footer;
  background: #644117;
  color: white;
  text-align: center;
  padding: 1rem;
}
